:root {
  --primary-background-color: #FFFFFF;
  --secondary-background-color: #2F303A;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --accent-button-color:#188CE8;
  --logo-color: #000000;
  --button-color:#F5F4FA;
  --footer-comments-color: rgba(255, 255, 255, 0.6);
}




/* general */

body {
  background-color: var(--primary-background-color);
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* button {
  cursor: pointer;
}

img {
  display: block;
} */




/* header */

.header-panel {
  padding-top: 24px;
  padding-bottom: 25px;

}

.logo {
  font-family: Raleway, Arial;
  color: var(--accent-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;  
  letter-spacing: 0.03em;

  margin-right: 93px;
}

.studio-top {
  color: var(--logo-color);
}

.header-nav {
  display: flex;
  align-items: center;
}


.nav-pages {
  display: flex;
  align-items: center;
}

.nav-pages .link{
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-pages .link:hover,
.nav-pages .link:focus {
  color: var(--accent-color);
}

.nav-pages .current {
  color: var(--accent-color);
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-bar {
  display: flex;
  align-items: center;
}

.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contacts-mail {
  margin-right: 50px;
}

.contacts .link{
  color: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}




/* main */

.solutions {
  background-color: var(--secondary-background-color);
  text-align: center;
}

.solutions-section {
  padding-top: 200px;
  padding-bottom: 200px;
  width: 696px;
}

.solutions-title {
  color: var(--primary-background-color);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36; 
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}

.btn-service {
  background: var(--accent-color);
  color: var(--primary-background-color);
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  min-width: 200px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
}

.btn-service:hover,
.btn-service:focus {
  background: var(--accent-button-color);
}

.heading-style {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.51;
  text-align: center;
  letter-spacing: 0.03em;
}

.items-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.items-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.person-name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.person-prof {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}





/* Portfolio main */

.btn-line .list{
  background: var(--button-color);
  color: var(--title-text-color);
  cursor: pointer;
  border-radius: 4px;
  border: 0;
  height: 38px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
}

.btn-line .list:hover,
.btn-line .list:focus {
  background: var(--accent-color);
  color: var(--primary-background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-all {width: 73px;}

.btn-web {width: 128px;}

.btn-apps {width: 145px;}

.btn-design {width: 103px;}

.btn-mark {width: 130px;}


.prod-name {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.prod-description {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}




/* footer */

.studio-bottom {
  color: var(--primary-background-color);
}

.footer-side {
  background-color: var(--secondary-background-color);
}

.footer-studio {
  padding-top: 60px;
  padding-bottom: 60px;
}

.info .link{
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-comments-color);
}

.info .link:hover,
.info .link:focus {
  color: var(--accent-color);
}

.add.link {
  color: var(--primary-background-color);
}


/* 
Raleway weight    700
Roboto weight 400 500  700 900

color

main  color: #FFFFFF;

logo & hover, buttons       color: #2196F3; 

nav (original) &heading titles      color: #212121;

header contacts & parag & description   color: #757575;

footer contacts color: rgba(255, 255, 255, 0.6);

*/