:root {
  --primary-background-color: #FFFFFF;
  --secondary-background-color: #2F303A;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --logo-color: #000000;
  --button-color:#F5F4FA;
  --footer-comments-color: rgba(255, 255, 255, 0.6);
}




/* general */

body {
  background-color: var(--primary-background-color);
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}




/* header */

.logo {
  font-family: Raleway, Arial;
  color: var(--accent-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;  
  letter-spacing: 0.03em;
}

.studio-top {
  color: var(--logo-color);
}

.studio-bottom {
  color: var(--primary-background-color);
}

.nav-pages .link{
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-pages .link:hover,
.nav-pages .link:focus {
  color: var(--accent-color);
}

.nav-pages .current {
  color: var(--accent-color);
}

.contacts .link{
  color: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}




/* main */

.solutions {
  background-color: var(--secondary-background-color);
  text-align: center;
}

.solutions-title {
  color: var(--primary-background-color);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  
}

.btn-service {
  background: var(--button-color);
  color: var(--title-text-color);
  border-radius: 4px;
  cursor: pointer;
  width: 200px;
  height: 50px;
  border: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
}

.btn-service:hover,
.btn-service:focus {
  background: var(--accent-color);
  color: var(--primary-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.heading-style {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.51;
  text-align: center;
  letter-spacing: 0.03em;
}

.items-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.items-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.person-name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.person-prof {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}





/* Portfolio main */

.btn-line .list{
  background: var(--button-color);
  color: var(--title-text-color);
  cursor: pointer;
  border-radius: 4px;
  border: 0;
  height: 38px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
}

.btn-line .list:hover,
.btn-line .list:focus {
  background: var(--accent-color);
  color: var(--primary-background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-all {width: 73px;}

.btn-web {width: 128px;}

.btn-apps {width: 145px;}

.btn-design {width: 103px;}

.btn-mark {width: 130px;}


.prod-name {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.prod-description {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}




/* footer */

.theme {
  background-color: var(--secondary-background-color);
}


.info .link{
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-comments-color);
}

.info .link:hover,
.info .link:focus {
  color: var(--accent-color);
}

.add.link {
  color: var(--primary-background-color);
}


/* 
Raleway weight    700
Roboto weight 400 500  700 900

color

main  color: #FFFFFF;

logo & hover, buttons       color: #2196F3; 

nav (original) &heading titles      color: #212121;

header contacts & parag & description   color: #757575;

footer contacts color: rgba(255, 255, 255, 0.6);

*/